* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  background-color: white;
  color: black;
  padding: 0.75rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}
.btn-light {
  background-color: rgb(130, 199, 255);
}
.btn-light-2 {
  background-color: rgb(232, 244, 253);
  color: rgb(27, 122, 199);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --website-width: 1200px;
  --header-color: #333;
  --primary-color: rgb(138, 222, 255);
}
#container {
  position: relative;
  background-color: var(--primary-color);
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--header-color);
  z-index: 100;
}
#navbar {
  max-width: var(--website-width);
  margin: 0 auto;
  display: grid;
  height: 100px;
  grid-template-columns: 2fr 1fr;
}

#navbar ul {
  display: flex;
  align-items: center;
}
#navbar ul.menu a {
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  padding: 1rem;
  margin: 0 1.5rem;
}
.current {
  border-bottom: orange 5px solid;
}
#navbar i {
  cursor: pointer;
  color: rgb(26, 142, 236);
}

#account-details {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: absolute;
}
#account-details a {
  display: inline-block;
  color: black;
  margin: 0.5rem 0;
}
#account-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*Showcase Section*/
#showcase {
  background: url(../images/nft-show.jpg) center center/cover no-repeat;
  height: 90vh;
  margin: 0 auto;
}
.add-nft-page #showcase {
  background: url(../images/addnft.jpg) center center/cover no-repeat;
  height: 100vh;
  margin: 0 auto;
}
.add-nft-page #showcase:before {
  content: "";
  position: absolute;
  background-color: rgb(4, 8, 46);
  height: 100vh;
  width: 100%;
  opacity: 0.75;
}

#showcase:before {
  content: "";
  position: absolute;
  background-color: rgb(58, 16, 16);
  height: 90vh;
  width: 100%;
  opacity: 0.3;
  /* z-index: 1000; */
}
#gallery {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  max-width: var(--website-width);
  margin: 0 auto;
}
.showcase {
  border: 1px solid black;
  width: 75%;
  border-radius: 5px;
  display: flex;
  align-self: center;
  justify-self: center;
}
.collection-header {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

#profile,
#sign-up,
#login-btn {
  display: none;
  margin: 0 1rem;
}

#profile-image-display {
  height: 90px;
  width: 90px;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}
#profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
/* #profile #account-details {
} */
#account-details {
  background-color: #333;
  text-align: center;
  position: absolute;
  left: -30px;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
}
#account-details li {
  padding: 1rem;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
  transition: all 0.25s;
}
#account-details li:hover {
  background-color: #999;
  color: blue;
}
.account-settings {
  position: absolute;
  top: 100px;
  height: 200px;
  width: 200px;
  background-color: white;
}
.profile-picture {
  width: 100px;
  height: 100px;
}

.gallery-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: rgb(241, 55, 55); */

  background: rgb(15, 68, 112);
  border-radius: 20px;
  color: white;
  padding: 1rem;
}
.gallery-pic img {
  filter: brightness(100%);
  height: 250px;
  width: 250px;
}
.buy-nft,
.sell-nft {
  padding: 1rem 4rem;
  margin: 2rem 0;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.gallery-pic h3 {
  margin: 1rem 0;
}
.gallery-pic p {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 0;
  margin-top: -1rem;
}
/* #account-details li {
  padding: 1rem;
  cursor: pointer;
}
#account-details {
  display: none;
} */

/* #profile:before
 {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(105, 180, 241);
  height: 90px;
  width: 90px;
  opacity: 0.25;
} */
/* #simple-form {
  display: flex;
  flex-direction: column;
}

.validation {
  display: grid;
  margin: 0 auto;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 0;
  padding-right: 0;
  grid-gap: 3rem;
} */
