#gallery {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-pic img {
	height: 200px;
	width: 200px;
}
.buy-nft {
	padding: 0.75rem 1rem;
	font-size: 1rem;
}
@media screen and (max-width: 900px) {
	/* body {
    background-color: green;
    opacity: 0.1;
  } */
	/* #navbar ul.menu a {
    margin: 0 1rem;
  } */
	#navbar {
		max-width: var(--website-width);
		margin: 0 auto;
		display: grid;
		height: 100px;
		grid-template-columns: 3fr 2fr;
	}
	.gallery-pic img {
		height: 150px;
		width: 150px;
	}
	.gallery-pic p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 750px) {
	#gallery {
		grid-template-columns: repeat(2, 1fr);
	}
	.btn {
		padding: 0.5rem 1rem;
		border-radius: 20px;
		font-weight: bold;
	}
	#account-btns {
		position: relative;
		justify-content: center;
	}
	#navbar {
		height: fit-content;
		padding: 0.25rem;
		grid-template-columns: repeat (2, 1fr);
	}
	#navbar > ul {
		margin: 0 auto;
		margin-bottom: 1rem;
	}
	.gallery-pic img {
		height: 250px;
		width: 250px;
	}
	.buy-nft {
		padding: 0.75rem 1.25rem;
		font-size: 1rem;
	}
}
@media screen and (max-width: 680px) {
	.gallery-pic img {
		height: 200px;
		width: 200px;
	}
}

@media screen and (max-width: 600px) {
	#navbar {
		height: fit-content;
		padding: 0.25rem;
		grid-template-columns: 1fr;
		padding-bottom: 1rem;
	}
	.gallery-pic img {
		height: 150px;
		width: 150px;
	}
	.alert .header {
		padding: 0.5rem;
	}
	.alert h3 {
		padding: 0.5rem;
		font-size: 1.5rem;
	}

	.relative-layer .body {
		padding: 0.5rem;
	}
	.body p {
		font-size: 1rem;
	}
	.footer button {
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
	}
}

@media screen and (max-width: 500px) {
	#navbar > ul {
		margin: 0 auto;
		margin-bottom: 0rem;
	}
	.showcase-description :nth-child(2) {
		display: none;
	}
	#navbar {
		padding-bottom: 0rem;
	}
	#account-btns {
		flex-direction: column;
	}
	#account-btns * {
		margin: 0.5rem 0;
	}
	.settings-list {
		display: none;
		position: absolute;
		top: 120px;
		right: -50px;
	}
	#navbar ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#navbar ul.menu a {
		color: white;
		font-size: 1.25rem;
		display: inline-block;
		padding: 0.5rem 0.75rem;
		margin: 0 1rem;
	}
	#account-btns {
		padding-bottom: 0.25rem;
	}
	#account-btns img {
		width: 75px;
		height: 75px;
	}
	#account-btns > * {
		margin: 0.5rem 0;
	}
	#account-btns > * {
		font-size: 0.75rem;
		padding: 0.25rem 0.5rem;
	}
	#account-details {
		margin-top: -1rem;
	}
	#account-btns .settings-list * {
		margin: 0.125rem 0;
	}
	#gallery {
		grid-template-columns: 1fr;
	}
	.gallery-pic img {
		height: 300px;
		width: 300px;
	}
	.buy-nft {
		padding: 0.75rem 1.25rem;
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 350px) {
	.gallery-pic img {
		height: 150px;
		width: 150px;
	}
}

@media screen and (max-width: 768px) {
	/* #header {
		display: none;
	} */
	#header {
		height: 100vh;
		display: flex;

		position: fixed;
		opacity: 0;
		background-color: black;
		align-items: center;
		font-weight: bold;
		transform: translateX(-100%);
		transition: all 1s, opacity 0.25s;
		z-index: -1;
	}
	#header.display {
		transform: translateX(0%);
		opacity: 1;
		z-index: 100;
	}

	#header ul {
		flex-direction: column;
	}
	#header ul li {
		font-size: 2rem;
		padding: 0.5rem;
	}
	#navbar {
		display: block;
		height: 40%;
		grid-template-columns: 1fr;
	}
	.current {
		padding: 0;
	}
	#account-btns {
		flex-direction: column;
		width: 100%;
		margin-top: 1rem !important;
	}
	#account-btns a {
		margin-top: 2rem;
	}
	.btn {
		padding: 1rem 2rem;
		font-size: 1.5rem;
		text-align: center;
		margin-top: 2rem;
	}
	#profile {
		margin-top: 5rem;
	}
	.login {
		height: 105vh;
	}
	.login-add-page .login {
		height: 105vh;
	}
}
